/.idea

/.Build
/var

/.php-cs-fixer.cache
/auth.json
/composer.lock
/composer.json.testing
/composer.json.original


/Documentation-GENERATED-temp

/.cache/
/Build/testing-docker/.env

/tailor-version-artefact/
/tailor-version-upload/
